//Hey There 😀, its time to style let's go.

//initializing color variables 
$color--1: rgba(33, 63, 125, 1);
$color--2: #fff;


//general styles
html {
    font-size: 62.5%;
}

body {
    max-height: 100vh;
}

//styling the left nav.
aside {
    width: 250px;
    background: $color--2;
    position: absolute;
    height: 100%;
    z-index: 0;
    left: 0;
    top: 80px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 30px;
    justify-content: center;
    text-align: left;
    // overflow-y: scroll;
    select, select:focus {
        font-size: 1.3rem;
        border: none;
        outline: none;
        color: $color--1;
        font-weight: 700;
        margin-top: 20px;
        cursor: pointer;
    }

    h5 {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        color: $color--1;
        margin-top: 15px;
        margin-bottom: 5px;
        cursor: pointer;
    }

    h4.title {
        text-transform: uppercase;
        font-size: 1.3rem;
        color: $color--1;
        font-weight: 700;
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    a {
        text-decoration: none;
        color: $color--1;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $color--1;
        margin: 5px 0;
        padding-left: 8px;
        cursor: pointer;
    }

    p:hover, p:focus {
        background-color: rgba(136, 136, 255, .6);
        border-radius: 5px;
    }

}

aside::-webkit-scrollbar {
    width: .4em;
 }
   
aside::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    display: none;
}
   
aside::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    opacity: .2;
    border-radius: 8px;
}


