//declaring variables for colors
$color--1:rgba(57, 205, 204, 1);
$color--2:rgba(33, 63, 125, 1);
$color--3:#ffffff;

//general styling 
html {
    font-size: 62.5%;
}

header {
    display:flex;
    width:100%;
    align-items: center;
    padding: 0 25px;
    height: 75px;
    background:$color--3;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
    z-index: 9;
    position: relative;

    .brand-logo {
        display: flex;
        align-items: center;
        width:200px;
        span {
            font-size: 3rem;
            padding-left: .5rem;
            color: rgba(33, 63, 125, 1);
            font-weight: 900;
        }
    }

    .search-bar {
        width:60%;
        margin-left: 5rem;
        display: flex;
        align-content: start;

        form {
            position: relative;
            width:300px;
            display: flex;
            align-items: center;
            input {
                width: 100%;
                background: #FFFFFF;
                border: 2px solid rgba(0, 0, 0, 0.04);
                border-radius: 8px;
                padding: .5rem 1rem;
                outline: none;
                color: $color--1;
            }

            input:focus {
                border-color: $color--1;
            }

            button {
                position: absolute;
                padding: .5rem .8rem;
                right: 0;
                border-radius: 0 8px 8px 0;
                background: $color--1;
                outline: none;
                border: 3px solid $color--1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .users {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin-right: 40px;
            color: $color--2;
            font-size: 1.5rem;
        }

        img {
            margin-right: 25px;
        }

        .avatar {
            margin-right: 8px;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        select {
            border: none;
            outline: none;
            color: $color--2;
            font-size: 1.5rem;
        }
    }
};

@media screen and (max-width:600px) {
    html {
        font-size: 50%;
    }
    
    header {
        width:100%;
        padding: 0 25px;
        height: 65px;
    
        .brand-logo {
            display: flex;
            align-items: center;
            width:auto;

            img {
                width: 10px;
            }
            span {
                font-size: 1.5rem;
                padding-left: .5rem;
                color: rgba(33, 63, 125, 1);
                font-weight: 900;
            }
        }
    
        .search-bar {
            width:40%;
            margin-left: 1rem;
            display: flex;
            align-content: start;
    
            input {
                width: 50%;
                border: 1px solid rgba(0, 0, 0, 0.04);
                border-radius: 5px;
                padding: .3rem 1rem;
                font-size: .8rem;
            }

            button {
                position: absolute;
                padding: .3rem .5rem;
                right: 0;
                border-radius: 0 5px 5px 0;
                border: 3px solid $color--1;
            }
        }
    
        .users {
            a {
                margin-right: 10px;
                font-size: 1rem;
            }
    
            img.bell {
                width:8px;
            }

            img {
                margin-right: 8px;
                width:25px;
           }
        };   
    }
}