//declaring variables for colors
$color--1:rgba(57, 205, 204, 1);
$color--2:rgba(33, 63, 125, 1);
$color--3:#ffffff;

//general styling 
html {
    font-size: 62.5%;
}

header {
    display:flex;
    width:100%;
    align-items: center;
    padding: 0 25px;
    height: 75px;
    background:$color--3;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);

    .brand-logo {
        display: flex;
        align-items: center;
        width:200px;
        span {
            font-size: 3rem;
            padding-left: .5rem;
            color: rgba(33, 63, 125, 1);
            font-weight: 900;
        }
    }

    .search-bar {
        width:50%;
        margin-left: 5rem;
        display: flex;
        align-content: start;

        form {
            
        }
    }
}

