/*---importing styles for header and aside---*/

//import header style
@import 'header-style' ;

//import aside style
@import 'aside-style';

//declaring color variables
$color--1:#fff;
$color--2:#fff;
$color--3:#fff;
$color--4:#fff;
$color--5:#fff;


//general styles
*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: auto;
    min-height: 100vh;
}

