/*---importing styles for header and aside---*/
html {
  font-size: 62.5%;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 25px;
  height: 20%;
  min-height: 65px;
  max-height: 80px;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  z-index: 9;
  position: absolute;
}
header .brand-logo {
  display: flex;
  align-items: center;
  width: 200px;
}
header .brand-logo span {
  font-size: 3rem;
  padding-left: 0.5rem;
  color: rgb(33, 63, 125);
  font-weight: 900;
}
header .search-bar {
  width: 60%;
  margin-left: 5rem;
  display: flex;
  align-content: start;
}
header .search-bar form {
  position: relative;
  width: 300px;
  display: flex;
  align-items: center;
}
header .search-bar form input {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  outline: none;
  color: rgb(57, 205, 204);
}
header .search-bar form input:focus {
  border-color: rgb(57, 205, 204);
}
header .search-bar form button {
  position: absolute;
  padding: 0.5rem 0.8rem;
  right: 0;
  border-radius: 0 8px 8px 0;
  background: rgb(57, 205, 204);
  outline: none;
  border: 3px solid rgb(57, 205, 204);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .users {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .users a {
  margin-right: 40px;
  color: rgb(33, 63, 125);
  font-size: 1.5rem;
}
header .users img {
  margin-right: 25px;
}
header .users .avatar {
  margin-right: 8px;
  border: 1px solid #fff;
  border-radius: 100%;
}
header .users select {
  border: none;
  outline: none;
  color: rgb(33, 63, 125);
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }

  header {
    width: 100%;
    padding: 0 25px;
    height: 65px;
  }
  header .brand-logo {
    display: flex;
    align-items: center;
    width: auto;
  }
  header .brand-logo img {
    width: 10px;
  }
  header .brand-logo span {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    color: rgb(33, 63, 125);
    font-weight: 900;
  }
  header .search-bar {
    width: 40%;
    margin-left: 1rem;
    display: flex;
    align-content: start;
  }
  header .search-bar input {
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    padding: 0.3rem 1rem;
    font-size: 0.8rem;
  }
  header .search-bar button {
    position: absolute;
    padding: 0.3rem 0.5rem;
    right: 0;
    border-radius: 0 5px 5px 0;
    border: 3px solid rgb(57, 205, 204);
  }
  header .users a {
    margin-right: 10px;
    font-size: 1rem;
  }
  header .users img.bell {
    width: 8px;
  }
  header .users img {
    margin-right: 8px;
    width: 25px;
  }
}
html {
  font-size: 62.5%;
}

aside {
  width: 250px;
  background: #fff;
  position: absolute;
  height: 100%;
  z-index: 0;
  left: 0;
  top: 80px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  justify-content: center;
  text-align: left;
  overflow-y: scroll;
}
aside select, aside select:focus {
  font-size: 1.3rem;
  border: none;
  outline: none;
  color: rgb(33, 63, 125);
  font-weight: 700;
  margin-top: 20px;
  cursor: pointer;
}
aside h5 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: rgb(33, 63, 125);
  margin-top: 15px;
  margin-bottom: 5px;
  cursor: pointer;
}
aside h4.title {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: rgb(33, 63, 125);
  font-weight: 700;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 4px;
}
aside a {
  text-decoration: none;
  color: rgb(33, 63, 125);
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(33, 63, 125);
  margin: 5px 0;
  padding-left: 8px;
  cursor: pointer;
}
aside p:hover, aside p:focus {
  background-color: rgba(136, 136, 255, 0.6);
  border-radius: 5px;
}

aside::-webkit-scrollbar {
  width: 0.4em;
}

aside::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  display: none;
}

aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  opacity: 0.2;
  border-radius: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
}/*# sourceMappingURL=user'sdashboard.css.map */