/*---importing styles for header and aside---*/

//import header style
@import 'header-style' ;

//import aside style



//general styles
*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: auto;
}