* {
    box-sizing: border-box;
    margin:0;
    font-family: 'Nunito', sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    padding: 8vw;
}

.lendsqrLeft {
    padding:0;
}